services:
  user-db:
    image: postgres:18-alpine
    container_name: user-service-db
    restart: always
    environment:
      # Docker will automatically look for these variables in your .env file
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data

volumes:
  user-db-data: